<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess -->
<title>{block name='title'}齐B小短裙{/block}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="PHP Web Design Coding WebDesign">
<meta name="author" content="Geek-Zoo">
<meta name="Keywords" content="Web Design PHP Coding WebDesign">
<meta name="Copyright" content="Geek-Zoo.com">
<meta content="All" name="Robots">
<!--  Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{$smarty.const.SITE_URL}/images/favicon.ico'">
<link rel="apple-touch-icon" href="{$smarty.const.SITE_URL}/images/apple-touch-icon.png">
<!-- CSS : implied media="all" -->
<base href="{$smarty.const.SITE_URL}/" />
<link rel="stylesheet" href="{$smarty.const.SITE_URL}/styles/style.css">
<link rel="stylesheet" href="{$smarty.const.SITE_URL}/styles/layout.css">
<link rel="stylesheet" href="{$smarty.const.SITE_URL}/styles/common.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{$smarty.const.SITE_URL}/js/libs/modernizr-1.7.min.js"></script>
<script src="{$smarty.const.SITE_URL}/js/ui.js"></script>
<script type="text/javascript" charset="utf-8">
	__THEME__ = '{$smarty.const.SITE_URL}';
</script>
</head>
<body>

<!--header start-->
<div class="header"> <a href="#"><span class="fl" style="font-size:30px;">齐B小短裙</span></a>
	<span class="clearfix" style="font-size:14px;">用三个字描述你的朋友</span>
</div>
<!--header end-->

<div class="welcome_con clearfix">
dd
</div>
{include file="lib/footer.html"}
